body{
    background-color: black;
    color: white;
}


.switch{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    background-color: grey;
    transition: 0.4s;
    border-radius: 34px;
    border-color: red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slider::before{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider{
    background-color: #d6bdee;
}

input:checked + .slider::before{
    transform: translateX(13px);
    background-color: #4b0091;
}
.slider-round{
    border-radius: 34px;
}
.slider-round::before{
    border-radius: 50%;
}